* {
  height: 100vh;
  width: 100%;
  font-family: 'Abel', san-serif;
  color: #000;
  box-sizing: border-box;
}

h1 {
  text-align: center;
}

.image_gif {
  width: 50px;
  height: 50px;
}

.one {
  background: url(img/udemy1.jpg) center center/contain no-repeat fixed;
}

.two {
  background: url(img/udemy2.jpg) center center/contain no-repeat fixed;
}

.three {
  background: url(img/udemy3.jpg) center center/contain no-repeat fixed;
}

.four {
  background: url(img/udemy4.jpg) center center/contain no-repeat fixed;
}

.five {
  background: url(img/ram.jpg) center center/contain no-repeat fixed;
}

.six {
  background: url(img/rhino.jpg) center center/contain no-repeat fixed;
}

.seven {
  background: url(img/camel.jpg) center center/contain no-repeat fixed;
}
