* {
  height: 100vh;
  width: 100%;
  font-family: 'Abel', san-serif;
  color: #000;
  box-sizing: border-box;
}

body {
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 0;
}

.image_gif {
  width: 50px;
  height: 50px;
}

.banner div {
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner div:nth-child(1) {
  background-image: url(img/udemy1.jpg);
}

.banner div:nth-child(2) {
  background-image: url(img/udemy2.jpg);
}

.banner div:nth-child(3) {
  background-image: url(img/udemy3.jpg);
}

.banner div:nth-child(4) {
  background-image: url(img/udemy4.jpg);
}

.banner div:nth-child(5) {
  background-image: url(img/ram.jpg);
}

.banner div:nth-child(6) {
  background-image: url(img/rhino.jpg);
}

.banner div:nth-child(7) {
  background-image: url(img/camel.jpg);
}
