* {
  height: 100vh;
  width: 100%;
  box-sizing: border-box;
}

body {
  padding: 0;
  margin: 0;
  color: #000;
  overflow-x: hidden;
}

h1 {
  text-align: center;
  margin: 0;
}

.image_gif {
  width: 50px;
  height: 50px;
}

.banner div {
  width: 100%;
  background-position: center center;
  background-size: contain;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.banner div:nth-child(1) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/udemy1.jpg?raw=true);
}

.banner div:nth-child(2) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/udemy2.jpg?raw=true);
}
.banner div:nth-child(3) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/udemy3.jpg?raw=true);
}

.banner div:nth-child(4) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/udemy4.jpg?raw=true);
}

.banner div:nth-child(5) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/ram.jpg?raw=true);
}

.banner div:nth-child(6) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/rhino.jpg?raw=true);
}

.banner div:nth-child(7) {
  background-image: url(https://github.com/Sacsam005/overlay/blob/main/img/camel.jpg?raw=true);
}
